.summer-camp-bg{
    background-image: url('/src/assets/website/summer-camp-sports.png');
}

.toy-market-bg{
    background-image: url('/src/assets/website/electronic-toy.png');
}

.japanese-chef-bg{
    background-image: url('/src/assets/website/japanese-chef-recipe.png');
}
